@import '~antd/dist/antd.css';

html {
  height: -webkit-fill-available;
}

body {
  // CSS fix for 100vh in mobile webkit
  min-height: 100vh;
  min-height: -webkit-fill-available;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16pt;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.katex-display {
  margin: 0.2rem;
  text-align: start;
  font-size: 1rem;
}

// calender
.events {
  margin: 0;
  padding: 0;
  list-style: none;
  .ant-badge-status {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .ant-badge-status-text {
      font-size: 0.8rem;
    }
  }
}
//.notes-month {
//  font-size: 28px;
//  text-align: center;
//}
//.notes-month section {
//  font-size: 28px;
//}